body{
  padding: 100px;
  background-image: linear-gradient(to right, #3ccdbc 0%, #33a0bd 100%);
  font-family: "Raleway", Arial, sans-serif;
  height: -webkit-fill-available;
  position: relative;
  overflow-x: hidden;
}

h1{
  color: white;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 60px;
  line-height: 1.2 !important;
  font-weight: 100;
  padding-top: 30px;
}

h2{
  font-size: 30px;
  color: white;
  padding-top: 30px;
}

h3{
  font-size: 30px;
  color: black;
  padding-top: 50px;
  padding-bottom: 30px;
}

h4{
  font-size: 16px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 40px;
  color: white;
}

#button {
  color: #34a7bd;
}
