body{
  padding-top: 50px;
}

h1{
  font-size: 50px;
  margin: 0px;
  padding-bottom: 10px;
}

h3{
  font-size: 30px;
  margin-top: 30px;
  padding-bottom: 10px;
  color: grey;
}

h4{
  font-size: 24px;
  margin: 40px;
  padding-bottom: 15px;
  color: grey;
}

h5{
  font-size: 16px;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 30px;
  color: grey;
}

img{
  height: 450px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.test{
  float: inherit;
}
