body {
  padding: 100px;
  background-image: linear-gradient(to right, #3ccdbc 0%, #33a0bd 100%);
  font-family: "Raleway", Arial, sans-serif;
  height: -webkit-fill-available;
  position: relative;
  overflow-x: hidden;
}

h1{
  color: white;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 60px;
  line-height: 1.2 !important;
  font-weight: 100;
  padding-top: 30px;
  padding-bottom: 200px;
}

p{
  position: relative;
  animation-name: perspect;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

img{
  width:350px;
}

#button {
  margin-top: 50px;
  width: 130px;
}

@keyframes turner{
    from{  transform: rotateY(0deg)   }
    to  {  transform: rotateY(360deg) }
}

@keyframes perspect {
   0% {transform:perspective(300px) rotateY(0deg)}
   25% {transform:perspective(300px) rotateY(90deg)}
   50% {transform:perspective(300px) rotateY(180deg)}
   75% {transform:perspective(300px) rotateY(270deg)}
   100% {transform:perspective(300px) rotateY(360deg)}
}

.btn{
  color: #34a7bd;
}

.highcharts-axis-labels{
  color: white;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 60px;
}

canvas.labels
{
  color: white;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 60px;
}
