body {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(to right, #3ccdbc 0%, #33a0bd 100%);
  font-family: "Raleway", Arial, sans-serif;
  height: -webkit-fill-available;
  position: relative;
  overflow-x: hidden;
}

div:not(:last-child){
  margin-right: 10px;
}

h1{
  color: white;
  font-family: "Raleway", Arial, sans-serif;
  margin: 0 0 20px 0;
  font-size: 50px;
  line-height: 1.2 !important;
  font-weight: 100;
}

h3{
  font-size: 20px;
}

h6{
  margin-top: 10px;
}

.tile{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.card {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    width: 100%;
    height: 180px;
    margin-top: 10px;
}

.card:hover {
    box-shadow: 0 64px 128px 0 rgba(0,0,0,0.2);
}

.card:active {
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    transform: translateY(4px);
}

.card-title:hover {
  color: #34a7bd;
}

/* #button {
  color: #34a7bd;
}

#specificContextID {
  border: none;
  padding-left: 5px;
  margin-top: 50px;
  margin-bottom: 1px;
  font-size: 15px;
  font-family: "Raleway";
}
*/
